<div class="container-fluid container-styles animate fadeIn">
    <div class="about-header">
      <div class="about-me">
        <b>ABOUT<br /> ME</b>
      </div>
      <img class="about-self" src="../assets/imgs/eggs.jpg" alt="Personal Picture">
    </div>
  
    <div class="container about-content">
      <p><b>Let's see.......</b> I've been working as a Technical Analyst for Infosys for over 6 years now,
        developing and testing solutions for CRM plugins, mobile application prototypes, and test automation frameworks for multiple clients, 
        including American Water and Securian Financial. I've been trained to work with front-end and back-end web development, as well as 
        creating testing solutions for API and UI applications. My fascination for puzzles allows me
        to enjoy my job, whether it be trying to fix a software bug or finding an efficient way to perform certain tasks.</p>
      <p>Back at home, I enjoy video games, playing guitar, jigsaw puzzles (yep), and
        working on some coding projects of my own. I also love the outdoors as well, going hiking whenever I can
        and I'm always up for lengthy roadtrips.</p>
      <p>I also like maps. No, seriously. If there's any map in the room I'm currently in, that's probably what I'll be staring at the whole time. 
        It's a weird obsession of mine that I'm trying to tame into my profession as well. 
        Maps help me visualize certains things a lot better and can be used to tell very interesting stories.</p>
      <p>So that's my long term goal; to be able to develop technology that allows us to inhabit places that we right now
        consider remote or deserted. I love going to places that not many people have been to, and I believe we can find
        a way to be able to live among these areas one day, and I would very much like to help out with that!</p>
    </div>
  </div>