<div class="container-fluid container-styles animate fadeIn">
    <div class="about-header">
      <div class="about-me">
        <b>ABOUT<br /> ME</b>
      </div>
      <img class="about-self" src="../../assets/imgs/eggs.jpg">
    </div>
  
    <div class="container about-content">
      <p><b>Let's see.......</b> I've been working as an associate for Infosys for over a year now,
        providing
        analysis and writing code for custom plugins, scripts, and queries for the Dynamics CRM systems and databases of
        our
        client American Water. I've been trained to work with front-end and back-end web development, database
        administration
        and querying, particularly with Microsoft's .NET Framework. My fascination for puzzles allows me
        to enjoy my job, whether it be trying to fix a software bug or finding an efficient way to perform certain tasks.</p>
      <p>Back at home, I enjoy video games, watching football or pro wrestling, playing guitar, jigsaw puzzles (yep), and
        working on some coding projects of my own. I also love the outdoors as well, going hiking whenever I can
        (sometimes
        with my ADHD riddled dog) and I'm always up for exploring new places.</p>
      <p>I also like maps. No, seriously. I could stare at a map for hours and not get bored. It's a weird obsession of
        mine
        that I'm trying to tame into my profession as well. More specifically, why haven't we spread out across more
        remote
        areas of the world yet like northern Alaska or central Austrailia? It's starting to get crowded here!</p>
      <p>So that's my long term goal; to be able to develop technology that allows us to inhabit places that we right now
        consider remote or deserted. I love going to places that not many people have been to, and I believe we can find
        a
        way to be able to live among these areas one day, and I would very much like to help out with that!</p>
    </div>
  </div>