@import url('https://fonts.googleapis.com/css?family=Inconsolata');
.container-styles {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.intro-title p {
    color: white;
    border-right: .60em solid white;
    font-family: 'Inconsolata';
    font-size: 40px;
    white-space: nowrap;
    overflow: hidden;
  }
  .intro-title p:nth-child(1) {
    width: 5.1em;
    -webkit-animation: type 1s steps(10, end);
    animation: type 1s steps(10, end);
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
  }
  
  .intro-title p:nth-child(2) {
    width: 4.6em;
    opacity: 0;
    -webkit-animation: type2 1s steps(9, end);
    animation: type2 1s steps(9, end);
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
  }
  
  .intro-title p:nth-child(3) {
    width: 7.6em;
    opacity: 0;
    -webkit-animation: type3 1.25s steps(15, end), blink .5s step-end infinite alternate;
    animation: type3 1.25s steps(15, end), blink .5s step-end infinite alternate;
    -webkit-animation-delay: 4s;
    animation-delay: 4s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
  }
  
  @keyframes type {
    0% {
      width: 0;
    }
    99.9% {
      border-right: .60em solid white;
    }
    100% {
      border: none;
    }
  }
  
  @-webkit-keyframes type {
    0% {
      width: 0;
    }
    99.9% {
      border-right: .60em solid white;
    }
    100% {
      border: none;
    }
  }
  
  @keyframes type2 {
    0% {
      width: 0;
    }
    1% {
      opacity: 1;
    }
    99.9% {
      border-right: .60em solid white;
    }
    100% {
      opacity: 1;
      border: none;
    }
  }
  
  @-webkit-keyframes type2 {
    0% {
      width: 0;
    }
    1% {
      opacity: 1;
    }
    99.9% {
      border-right: .60em solid white;
    }
    100% {
      opacity: 1;
      border: none;
    }
  }
  
  @keyframes type3 {
    0% {
      width: 0;
    }
    1% {
      opacity: 1;
    }
    100% {
      opacity: 1;
    }
  }
  
  @-webkit-keyframes type3 {
    0% {
      width: 0;
    }
    1% {
      opacity: 1;
    }
    100% {
      opacity: 1;
    }
  }
  
  @keyframes blink {
    50% {
      border-color: transparent;
    }
  }
  @-webkit-keyframes blink {
    50% {
      border-color: tranparent;
    }
  }
  
@media (max-width: 575px) {
  .intro-title p{
      font-size: 35px;
  }
}
  