.container-styles {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.intro-title {
    font-size: 65px;
    color: white;
    font-family: "Arial Black", Gadget, sans-serif;
    text-shadow: 2px 2px 1px rgb(0, 0, 0);
}