<div class="container-styles">
  <nav class="navbar sticky-top navbar-expand-md navbar-dark">
    <a routerLink="">
      <div class="navbar-brand navbar-dark">
        <b>ZACH <br /> EGGLETON</b>
      </div>
    </a>

    <button #navbarToggler class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto navbar-right">
        <li class="nav-item">
          <a class="nav-link" (click)="collapseNav()" routerLink="/about" routerLinkActive="active">ABOUT</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="collapseNav()" routerLink="/travelmap" routerLinkActive="active">TRAVEL MAP</a>
        </li>
        <li class="nav-item">
          <div class="dropdown">
            <a class="nav-link" (click)="collapseNav()" routerLink="/projects" routerLinkActive="active">PROJECTS</a>
            <ul class="animate fadeIn dropdown-menu">
              <li class="dropdown-item" *ngFor="let p of projects">
                <a (click)="collapseNav()" [routerLink]="['/projects',formatProjectRoute(p.name)]">{{p.name}}</a>
              </li>
            </ul>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="collapseNav()" routerLink="/experience" routerLinkActive="active">EXPERIENCE</a>
        </li>
      </ul>
    </div>
  </nav>

  <router-outlet></router-outlet>
</div>