<div class="container container-styles animate fadeIn">
    <p class="page-header"><b>PERSONAL PROJECTS</b></p>
    <ul class="list-group">
      <li (click)="goToProject(p.name)" class="list-group-item" *ngFor="let p of projects">
        <div class="col-sm-6 project-brief">
          <h1>{{p.name}}</h1>
          <p>{{p.shortDesc}}</p>
        </div>
        <div class="col-sm-6 img-container">
          <img class="sample-image" [src]="p.imageUrl">
        </div> 
      </li>
    </ul>
  </div>